<!DOCTYPE html>
<html>
<head>
    <title>Calendario</title>
</head>
<body>
    <h1>Calendario - {{ month_name }} {{ year }}</h1>
    <table border="1">
        <tr>
            <th>Lun</th>
            <th>Mar</th>
            <th>Mer</th>
            <th>Gio</th>
            <th>Ven</th>
            <th>Sab</th>
            <th>Dom</th>
        </tr>
        {% for week in month_days %}
        <tr>
            {% for day in week %}
            <td>
                {% if day > 0 %}
                <a href="{% url 'day_editor' year month day %}">{{ day }}</a>
                {% else %}
                &nbsp;
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="?year={{ year }}&month={{ month|add:"-1" }}">Mese Precedente</a> |
    <a href="?year={{ year }}&month={{ month|add:"1" }}">Mese Successivo</a>
</body>
</html>
